.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

body {
	background-color: #543069;
	color: white;
	height: 100%;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#main-container {
	width: 960px;
	height: auto;
	padding: 20px;
	box-shadow: 0 4px 4px 2px rgba(9, 9, 9, 0.10);
}

#root {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: white;
	color: black;
}

.my_label {
	font-weight: 700;
	font-size: large;
}

.div_for_my_label {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#my_form {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 4px solid darkgreen;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}


#select_component {
	margin-top: 20px;
}

#date_picker_div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.submit_input_div {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type=submit] {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 100px;
	height: 40px;
	font-size: large;
	font-weight: 700;
	color: darkgreen;
}

input {
	background-color: hsl(0, 0%, 100%);
	border-color: hsl(0, 0%, 80%);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	cursor: default;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	min-height: 38px;
	width: 100%;
	outline: 0 !important;
	position: relative;
	-webkit-transition: all 100ms;
	transition: all 100ms;
	box-sizing: border-box;
	font-size: medium;
	padding-left: 5px;
}

.choose_form_div {
	width: 140px;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.choose_form_button {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	height: 60px;
	font-size: large;
	font-weight: 700;
	color: darkgreen;
	transition: background-color .5s;
}

.choose_form_button:hover {
	background-color: gainsboro;
}

.radioInput {
	display: block;
	border: 5px solid darkgreen;
	background-color: rgb(186, 247, 186);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-size: large;
	font-weight: 700;
	margin-top: 30px;
}

.radioInput>input {
	visibility: hidden;
	position: absolute;
}

/* .radioInput>input+InfoArray {
	cursor: pointer;
	border: 2px solid transparent;
} */

.radioInput>input:checked+div {
	border: 5px solid orange;
	transition: background-color .5s;
}